<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAmf8UAPS8qahUCc2v4ok6WclbY2dlTnM</string>
	<key>GCM_SENDER_ID</key>
	<string>464918807727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blooddonation</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-3e64a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-3e64a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464918807727:ios:231cb6c02adfa9643c005a</string>
</dict>
</plist>